.Menu {
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 12vw;
    height: 82.8vh;
    font-size: 18px;
    padding-top: 70px;
}

.Menu.small {
    height: 78.4vh;
    width: 14vw;
    font-size: 16px;
}

.alignTop {
    margin-left: 20px;
    margin-top: 50px;
    color: white;

    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.alignBottom {
    margin-top: auto;
    margin-left: 3px;
    padding-top: 430px;
    font-size: 12px;
    text-align: left;
    color: white;
}

.alignBottom.small {
    padding-top: 273px;
    font-size: 10px;
}
