.Menu {
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 20vw;
    height: 83.3vh;
    font-size: 30px;
    padding-top: 70px;
}

.alignTop {
    margin-left: 20px;
    margin-top: 80px;
    color: white;

    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.alignBottom {
    margin-top: auto;
    margin-left: 3px;
    padding-top: 320px;
    font-size: 16px;
    text-align: left;
    color: white;
}