.Home {
    text-align: center;
  }
  
  .Toolbar-header {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 6vh;
  }

  .Home-header {
    background-color: yellow;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .Home-link {
    color: red
  }

  h1 {
    font-size: 72px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue
  }
