.Register {
    text-align: center;
  }
  
  .Toolbar-header {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 8vh;
  }

  .Register-header {
    background-color: yellow;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .Register-link {
    color: red
  }