.ToolbarGuest {
    background-color: black;
}
  
.alignLeft {
float: left;
margin-left: 20px;
margin-top: 30px;
color: yellow
}

.alignRight {
float: right;
margin-right: 20px;
margin-top: 30px;
color: yellow;
}
